<!DOCTYPE html>
<html ng-app="parserApp">
  <head>
    <title>Parser</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div ng-controller="parserController" class="container">
      <div class="filters">
        <input id="search" class="form-control" type="text" placeholder="Search item..." ng-model="settings.search">
        <div class="filter dropdown super-select" ng-repeat="dropdown in options.dropdowns">
          {{ dropdown.title }}
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            {{ dropdown.options[dropdown.active_index] }}
            <p><span class="caret"></span></p>
          </button>
          <ul class="dropdown-menu super-select-menu">
            <li ng-repeat="option in dropdown.options" ng-click="setOption(dropdown, option)"><a href="#">{{option}}</a></li>
          </ul>
        </div>
        <div class="filter input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Price range on First service</span>
          </div>
          <input type="number" class="form-control" ng-model="settings.min_price_0" min="0" max="50000">
          <input type="number" class="form-control" ng-model="settings.max_price_0" min="0" max="50000">
        </div>
        <div class="filter input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Price range on Second service</span>
          </div>
          <input type="number" class="form-control" ng-model="settings.min_price_1" min="0" max="50000">
          <input type="number" class="form-control" ng-model="settings.max_price_1" min="0" max="50000">
        </div>
        <div class="filter input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Difference range</span>
          </div>
          <input type="number" class="form-control" ng-model="settings.min_diff" min="-100000" max="100000">
          <input type="number" class="form-control" ng-model="settings.max_diff" min="-100000" max="100000">
        </div>
        <div class="filter input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Items on page</span>
          </div>
          <select ng-model="settings.pageSize" ng-options="item for item in itemsPerPage" id="pageSize" class="form-control"></select>
        </div>
      </div>
      <div class="alert alert-danger" role="alert" ng-if="settings.alerts.error">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ settings.alerts.error }}
      </div>
      <table>
        <thead>
          <tr>
            <th ng-click="changeSortType('item_name')">Skin name<span ng-show="isSortType('item_name') " ng-class="{'down' : isOrderedReverse(), 'up': !isOrderedReverse()}"></span></th>
            <th ng-click="changeSortType('price_0')">Price on <br> Service 1<span ng-show="isSortType('price_0') " ng-class="{'down' : isOrderedReverse(), 'up': !isOrderedReverse()}"></span></th>
            <th ng-click="changeSortType('price_1')">Price on <br> Service 2<span ng-show="isSortType('price_1') " ng-class="{'down' : isOrderedReverse(), 'up': !isOrderedReverse()}"></span></th>
            <th ng-click="changeSortType('diff')">Difference<span ng-show="isSortType('diff') " ng-class="{'down' : isOrderedReverse(), 'up': !isOrderedReverse()}"></span></th>
            <th ng-click="changeSortType('status_0')">Status on <br> Service 1<span ng-show="isSortType('status_0') " ng-class="{'down' : isOrderedReverse(), 'up': !isOrderedReverse()}"></span></th>
            <th ng-click="changeSortType('status_1')">Status on <br> Service 2<span ng-show="isSortType('status_1') " ng-class="{'down' : isOrderedReverse(), 'up': !isOrderedReverse()}"></span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items | range : 'price_0' : settings.min_price_0 : settings.max_price_0 | range : 'price_1' : settings.min_price_1 : settings.max_price_1 | range : 'diff' : settings.min_diff : settings.max_diff | orderBy: settings.orderType : settings.orderReverse | filter:settings.search | startFrom:settings.currentPage*settings.pageSize | limitTo:settings.pageSize">
            <td>{{ item.item_name }}</td>
            <td>{{ item.price_0 }}</td>
            <td>{{ item.price_1 }}</td>
            <td>{{ item.diff }}</td>
            <td>{{ item.status_0 }}</td>
            <td>{{ item.status_1 }}</td>
          </tr>
        </tbody>
      </table>
      <button ng-disabled="settings.currentPage == 0" ng-click="settings.currentPage=settings.currentPage-1">
        Previous
      </button>
      {{settings.currentPage+1}}/{{numberOfPages()}}
      <button ng-disabled="settings.currentPage >= getData().length/settings.pageSize - 1" ng-click="settings.currentPage=settings.currentPage+1">
          Next
      </button>
    </div>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/angular.min.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>